@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "ROBOTO", sans-serif;
  --bg-primary: #ffffff; /* Background primary */
  --bg-secondary: #e8e8e8; /* Background secondary */
  --text-body: #333333; /* Text body */
  --text-subbody: #666666; /* Text subbody */
  --text-error: #ff1744; /* Text error */
  --text-success: #4caf50; /* Text success */
  --text-info: #2196f3; /* Text info */
  --bg-btn: #2196f3; /* Background button */

  --header-hight: 3.5rem;
}

.App.dark {
  --bg-primary: #121212; /* Background primary */
  --bg-secondary: #1e1e1e; /* Background secondary */
  --text-body: #ffffff; /* Text body */
  --text-subbody: #aaaaaa; /* Text subbody */
  --text-error: #ff5252; /* Text error */
  --text-success: #4caf50; /* Text success */
  --text-info: #2196f3; /* Text info */
  --bg-btn: #2196f3; /* Background button */
}
